@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
}

body {
    background-color: #ADD7F6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* LANDING */

.landing {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.landing__title--container {
    width: 50%;
}

.landing__title {
    color: #3B28CC;
    font-size: 72px;
    margin-bottom: 30px;
}

.landing__subtitle {
    font-size: 36px;
}

.landing__img {
    padding-top: 50px;
    transform: scaleX(-1);
}

.landing__scroll--container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.landing__scroll--text {
    font-size: 30px;
}

.landing__scroll--arrow {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    width: 1vw;
    height: 1vw;
    transform: rotate(45deg);
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    50% {transform: rotate(45deg) translate(0.75vh, 0.75vh);}
}

/* DEFINITIONS */

.definitions {
    background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.definitions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
    height: 60%;
    width: 90%;
    padding: 50px 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 40px;
    color: #FFF;
}

.definitions__title {
    color: #FFF;
    font-size: 36px;
}

.definitions__circles {
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
}

.definitions__circles--figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    height: 15vh;
    width: 15vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.vulnerable { background-color: #ADD7F6; }
.definitely { background-color: #87BFFF; }
.severely { background-color: #3F8EFC; }
.critically { background-color: #2667FF; }
.extinct { background-color: #3B28CC; }

.gridHeading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    margin: 3vh 0;
    text-align: center;
    height: 75px;
}

.gridDefinition {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
}

